@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-white: #EEEEEE;
    --color-black: #111111;

    --color-primary: #00AAAA;
    --color-secondary: #1B6B6B;
    --color-tertiary: #1A3333;

    --color-complementary: #AB3F00;
    --color-complementary-secondary: #56321D;
    --color-complementary-tertiary: #332822;

    --color-success: #00AA00;
    --color-error: #AA0000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    color: var(--color-black);

    background-color: var(--color-white);

    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amaranth", serif;

    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h2, h3, h4, h5, h6 {
    color: var(--color-primary);
}

p {
    margin: 0 0 5px; /*0 top, 0 left-right, 5 bottom*/
}

div.empty {
    flex: 1;
}

a {
    all: unset;
    cursor: pointer;

    text-decoration: underline;
    color: var(--color-primary);
}

a.button-primary, a.button-transparent, button {
    all: unset;
    cursor: pointer;

    text-align: center;
    font-weight: bold;
    color: var(--color-white);

    background-color: var(--color-primary);
    border-radius: 5px;

    transition: background-color 0.3s;
    width: fit-content;
    padding: 10px 20px;
}

a.button-primary i, a.button-transparent i, button i {
    margin-left: 10px;
}

a.button-primary:hover, button:hover {
    background-color: var(--color-secondary);
}

a.button-transparent {
    background-color: unset;
    border: 2px solid var(--color-white);
}

a.button-transparent:hover {
    background-color: rgba(238, 238, 238, 0.5);
}

span.button-disabled {
    cursor: not-allowed;

    text-align: center;
    font-weight: bold;
    color: var(--color-black);

    border: 2px solid var(--color-black);
    border-radius: 5px;

    width: fit-content;
    padding: 10px 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.form-item-horizontal {
    display: flex;
    align-items: center;
    gap: 5px;
}

input, textarea, select, button {
    font: inherit;
}

input, textarea, select {
    color: var(--color-black);

    border: 2px solid #d3d3d3;
    border-radius: 5px;
    outline: none;

    transition: box-shadow 0.3s;
    padding: 10px;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 3px 0 inset rgba(0, 0, 0, 0.25);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

nav a, nav input {
    all: unset;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 20px
}

nav img {
    display: block;
    border-radius: 50%;

    height: 44px;
}

footer {
    background-color: #FFFFFF;
    border-top: 1px solid #e1ebeb;

    margin-top: 50px;
    padding: 10px 0;
}

footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-section {
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: left;
}

footer a {
    all: unset;
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline var(--color-secondary);
}

header {
    align-content: center;
    text-align: center;
    color: var(--color-white);

    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/public/images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    padding: 0 25vw;
}

section {
    text-align: center;

    padding: 20px 0 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    min-width: 600px;
    width: fit-content;
    height: 150px;
    margin: -75px auto 0;
    padding: 10px 20px;
}

.rides-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 10px;
    justify-items: center;

    padding: 20px 0;
}

.rides-grid a {
    all: unset;
}

.rides-grid article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    cursor: pointer;
    color: var(--color-white);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

    transition: background-position 0.3s ease-out;
    width: 290px;
    height: 350px;
    padding: 20px;
}

.rides-grid article:hover {
    background-position: bottom;
}

.rides-grid article h2 {
    font-size: 1.5rem;
    color: var(--color-white);
}

.ride-stat-title {
    display: block;
    font-family: "Amaranth", serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-primary);
}

.ride-stat-number {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-primary);

    line-height: 110%;
}

.ride-stat-unit {
    display: block;
    font-family: "Amaranth", serif;
    font-size: 1rem;
}

#toggle-visibility-btn.visible {
    background-color: var(--color-success);
}

#toggle-visibility-btn.hidden {
    background-color: var(--color-error);
}
