@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-white: #EEEEEE;
    --color-black: #111111;

    --color-primary: #00AAAA;
    --color-secondary: #1B6B6B;
    --color-tertiary: #1A3333;

    --color-complementary: #AB3F00;
    --color-complementary-secondary: #56321D;
    --color-complementary-tertiary: #332822;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    color: var(--color-black);

    background-color: var(--color-white);

    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amaranth", serif;

    margin: 0;
}

h1 {
    font-size: 3rem;
}

p {
    margin: 0 0 5px; /*0 top, 0 left-right, 5 bottom*/
}

div.empty {
    flex: 1;
}

a.button-primary {
    all: unset;
    cursor: pointer;

    text-align: center;
    font-weight: bold;
    color: var(--color-white);

    background-color: var(--color-primary);
    border-radius: 5px;

    width: fit-content;
    padding: 10px 20px;
}

a.button-primary i {
    margin-left: 10px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 20px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

nav a, nav input {
    all: unset;
    cursor: pointer;
}

header {
    align-content: center;
    text-align: center;
    color: var(--color-white);

    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/public/images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    padding: 0 25vw;
}

.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    max-width: 600px;
    height: 150px;
    margin: -75px auto 0;
    padding: 10px 20px;
}
